<div class="notif-wrap"></div>
<div class="without-qr">
    <div class="popupDemo">
        <div class="popupDemo__logo"></div>
        <div class="popupDemo__title">Демо режим</div>
        <div class="popupDemo__text">
            <b>Добро пожаловать в демо режим. </b>Здесь вы можете ознакомиться с личным кабинетом Octobird. Все данные приведенные в демо режиме специально сгенерированны для ознакомления с системой.
        </div>
        <!--<div class="qr">
            <div class="qr__img"></div>
            <div class="qr__cont">
                <div class="qr__title">Мобильная версия</div>
                <div class="qr__descr">Попробуйте мобильную <br>
                    версию в действии! </div>
                <div class="qr__arr"></div>
            </div>
        </div>-->
        <a href="#" class="popupDemo__send btn btn_large btn_primary btn_promo" role="close"><span>Начать</span></a>
    </div>
</div>